<header class="p-3 mb-1 border-bottom bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% if request.user.is_authenticated %}
          <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ request.user.profile.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" style="">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>
          {% endif %}
          <li><a class="nav-link active" href="{% url 'home:home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a class="nav-link active" href="{% url 'accounts:user_logout' %}">Logout</a></li>
            {% else %}
                <li><a class="nav-link active" href="{% url 'accounts:user_register' %}">Register</a></li>
                <li><a class="nav-link active" href="{% url 'accounts:user_login' %}">Login</a></li>
            {% endif %}
            {% if request.user.is_admin %}
                <li><a class="nav-link active" href="{% url 'home:bucket' %}">Bucket</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
              <li><button class="nav-link active btn btn-primary edge" href="{% url 'orders:cart' %}">CART {{ cart|length }}</button></li>
            {% endif %}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
          <form method="get" action="">
              {% csrf_token %}
              <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"style="margin-left: 20px;">
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Filter
                      </button>
                      <ul class="dropdown-menu" style="padding: 10px">
                              {{ filter.form }}
                          <div style="text-align: center">
                              <input type="submit" value="search" class="btn btn-primary" style="margin: 10px;">
                          </div>
                      </ul>
                  </div>
              </div>
          </form>
      </div>
    </div>
</header>